<main class="main-container">
  <div class="title">
    <h1>
      Welcome
    </h1>
  </div>
  <div class="main-container-profile">
    <div class="profile-info">
      <div class="container-profile">
        <div class="profile-image"><img src="/placeholder.svg" width="80" height="80" alt="David" /></div>
        <div class="profile-text">
          <h1 class="profile-name">David Silva</h1>
          <p class="profile-title">Full-Stack Developer</p>
        </div>
      </div>
      <div class="profile-description">
        <p>
          Hi, I'm David. I love building web applications and
          experimenting with new technologies. My passion for coding
          extends to both the front end and the back end. I'm always
          eager to learn and implement the best practices to create
          efficient and elegant solutions.
        </p>
      </div>
    </div>
    <div class="code-container">
      <pre class="code-block">function greet(name){{codeinfo}}

        console.log(greet('World'));
      </pre>
    </div>
  </div>

</main>

