/* Contenedor principal */
.main-container {
  width: 100%;
  padding-top: 12rem; /* Ajustar según sea necesario */
}

/* Contenedor interno */
.inner-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.card-container {
  display: flex;
  width: 100%;
}

/* Tarjeta */
.card , .card_footer {
  width: 100%;
  border-radius: 0.5rem; /* Ajustar según sea necesario */

  background-color: #fff; /* Cambiar según el diseño */
  color: #000; /* Cambiar según el diseño */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

/* Texto del contenido de la tarjeta */
.card-content {
  text-align: center; /* Ajustar según el diseño */
}

/* Título */
.card-title {
  font-size: 1.5rem; /* Ajustar según sea necesario */
  font-weight: bold;
}

/* Subtítulo */
.card-subtitle {
  font-size: 0.875rem; /* Ajustar según sea necesario */
  font-weight: medium;
  color: #666; /* Cambiar según el diseño */
}

/* Contenido */
.card-content {
  margin-top: 1rem; /* Ajustar según sea necesario */
}

.container_lista{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lista{
  width: 90%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* Texto pequeño */
.small-text {
  font-size: 0.75rem; /* Ajustar según sea necesario */
  font-weight: medium;
  color: #666; /* Cambiar según el diseño */
}

/* Iconos */
.icon {
  font-size: 1rem; /* Ajustar según sea necesario */
}

/* Separación entre elementos */
.space-y-2 {
  margin-top: 0.5rem; /* Ajustar según sea necesario */
  margin-bottom: 0.5rem; /* Ajustar según sea necesario */
}

.space-y-4 {
  margin-top: 1rem; /* Ajustar según sea necesario */
  margin-bottom: 1rem; /* Ajustar según sea necesario */
}

.space-y-6 {
  margin-top: 1.5rem; /* Ajustar según sea necesario */
  margin-bottom: 1.5rem; /* Ajustar según sea necesario */
}

.space-y-12 {
  margin-top: 3rem; /* Ajustar según sea necesario */
  margin-bottom: 3rem; /* Ajustar según sea necesario */
}

/* Espaciado entre tarjetas */

.footer{
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0;
}

.card_footer{
 opacity: 0.85;
}

@media screen and (max-width: 1024px){
  .inner-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-container {
    margin-top:1.5rem; /* Ajustar según sea necesario */
  }
}
