<div class="main-container">
  <div class="inner-container">
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <div class="space-y-2">
            <h3 class="card-title">Experiencia</h3>
            <div class="space-y-4">
              <div class="space-y-1">
                <h4 class="font-semibold">Desarrollador Full Stack</h4>
                <p class="small-text">SGS Colombia (2023 - Presente)</p>
              </div>
              <div class="space-y-1">
                <h4 class="font-semibold">Desarrollador Frontend</h4>
                <p class="small-text">Colmotica (2022 - 2023)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <div class="space-y-2">
            <h3 class="card-title">Educación</h3>
            <div class="space-y-4">
              <div class="space-y-1">
                <h4 class="font-semibold">Estudiante de Ingenieria Informatica</h4>
                <p class="small-text">Corporacion Universitaria Reformada(2020 - presente)</p>
                <p class="small-text">9 semestre</p>
              </div>
              <div class="space-y-1">
                <h4 class="font-semibold">Tecnologo en Gestion de Redes Informaticas</h4>
                <p class="small-text">Corporacion Universitaria Reformada(2020 - 2023)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-container">
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <div class="space-y-2">
            <h3 class="card-title">Habilidades</h3>
            <div class="container_lista">
              <ul class="lista">
                <li>JAVA</li>
                <li>C#</li>
                <li>Javascript</li>
                <li>React</li>
                <li>Angular</li>
                <li>Next.js</li>
                <li>Node.js</li>
                <li>ASP.NET Core</li>
                <li>Gestión de redes</li>
                <li>MySQL (Workbench)</li>
                <li>PostgreSQL</li>
                <li>SQL Server</li>
                <li>C++</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>PYTHON</li>
                <li>Power BI</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <div class="space-y-2">
            <h3 class="card-title">Habilidades Blandas</h3>
            <div class="space-y-4">
              <div class="container_lista">
                <ul class="lista">
                  <li>Trabajo en equipo</li>
                  <li>Trabajo en equipo</li>
                  <li>Comunicación efectiva</li>
                  <li>Resolución de problemas</li>
                  <li>Adaptabilidad</li>
                  <li>Capacidad de aprendizaje</li>
                  <li>Capacidad de liderazgo</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <div class="space-y-4">
            <div class="space-y-2">
              <h3 class="card-title">Proyectos</h3>
              <div class="space-y-2 small-text">
                <h3>Store Ginvent</h3>
                <p>🌐<a href="https://store-ginvent.vercel.app/" target="_blank" >https://store-ginvent.vercel.app/</a></p>
                <h3>Mine to Plant</h3>
                <p>🌐<a href="https://mine-to-plant.vercel.app/" target="_blank" >https://mine-to-plant.vercel.app/</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="card-container">
      <div class="card_footer">
        <div class="card-content">
          <div class="space-y-4">
            <div class="space-y-2">
              <h3 class="card-title">Contacto</h3>
              <div class="space-y-2 small-text">
                <p>📍 Barranquilla, Colombia</p>
                <p> 📧<a href="mailto:davidsilvav11@hotmail.com"> {{"davidsilvav11@hotmail.com"}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
